In [ ]:
import pandas as pd

In [2]:
# import csv data 
data = pd.read_csv('d.csv')
print(data);

            HotelName       Location  Rating  PricePerNight  RoomsAvailable
0        Grand Palace       New York     4.5            200              50
1     Sea View Resort          Miami     4.2            150              30
2        Mountain Inn         Denver     4.0            120              20
3   City Lights Hotel        Chicago     3.8            100              40
4          Royal Stay    Los Angeles     4.7            250              60
5        Budget Lodge        Houston     3.5             80              25
6       Sunset Suites  San Francisco     4.3            180              35
7  Green Valley Hotel        Seattle     4.1            140              28
8       Urban Retreat         Boston     4.4            160              32
9    Lakefront Resort        Orlando     4.6            220              45

In [15]:
# read json data
json_data = pd.read_json('d.json')
print(json_data)

   id                name  location  rating  rooms_available  \
0   1  Grand Palace Hotel  New York     4.5            120.0
1   2     Sea View Resort     Miami     4.2             80.0
2   3    Mountain Retreat    Denver     2.5              NaN
3   4     City Center Inn   Chicago     4.0            100.0

                                         amenities
0                    [wifi, pool, gym, restaurant]
1                   [wifi, beach access, spa, bar]
2  [wifi, hiking trails, restaurant, pet friendly]
3            [wifi, parking, gym, conference room]

In [4]:
#  create file 
json_data.to_csv('new.csv')

In [7]:
#lamba function of data 
json_data['is_good'] = json_data['rating'].apply(lambda x: x > 4)
print(json_data[['name', 'is_good']])

                 name  is_good
0  Grand Palace Hotel     True
1     Sea View Resort     True
2    Mountain Retreat     True
3     City Center Inn    False

In [16]:
# json_data = json_data.dropna(subset=['rooms_available'])
# print(json_data[['name', 'rooms_available']])

#fill null value
json_data['rooms_available'] = json_data['rooms_available'].fillna(0)   
print(json_data[['name', 'rooms_available']])

                 name  rooms_available
0  Grand Palace Hotel            120.0
1     Sea View Resort             80.0
2    Mountain Retreat              0.0
3     City Center Inn            100.0

In [37]:



# remove duplicate value
# Check duplicates
# make dummy df
df = pd.DataFrame({
    'name': ['A', 'B', 'C', 'D'],
    'age': [20, 25, 25, None],
    'city': ['Delhi', 'Mumbai','Chennai' ,'Chennai']
})

# duplicate set of value
df = pd.concat([df, df], ignore_index=True)
# print(df.duplicated())
# print(df.duplicated(subset=['city']))
# Remove duplicate rows
df_no_dup = df.drop_duplicates()
# print(df_no_dup)

# Remove based on specific column
df_no_dup = df.drop_duplicates(subset=["name"])
# print(df_no_dup)


# Using get_dummies to encode 'city' column
df_encoded = pd.get_dummies(df, columns=['city'])
print(df_encoded)

# Using LabelEncoder to encode 'name' column

# Fill NaN values with a default (e.g., 0) before converting to int
df['age'] = df['age'].fillna(0).astype(int)
print(df[['age', 'name']])

  name   age  city_Chennai  city_Delhi  city_Mumbai
0    A  20.0         False        True        False
1    B  25.0         False       False         True
2    C  25.0          True       False        False
3    D   NaN          True       False        False
4    A  20.0         False        True        False
5    B  25.0         False       False         True
6    C  25.0          True       False        False
7    D   NaN          True       False        False
   age name
0   20    A
1   25    B
2   25    C
3    0    D
4   20    A
5   25    B
6   25    C
7    0    D